.yith-proteo-testimonials {
    display: block;
}

.yith-proteo-testimonial {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.yith-proteo-testimonials.list .yith-proteo-testimonial {
    padding-bottom: 35px;
}

.yith-proteo-testimonials.list .yith-proteo-testimonial:not(:last-child) {
    margin-bottom: 50px;
    border-bottom: 1px solid #d3d3d3;
}

.yith-proteo-testimonials.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 50px;
}

.yith-proteo-testimonials.grid .yith-proteo-testimonial {
    box-shadow: 0px 2px 32px 5px rgba(153, 190, 212, 0.14);
    padding: 35px;
}

.yith-proteo-testimonial .testimonial-header {
    display: grid;
    grid-template-columns: 95px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-bottom: 35px;
    order: 1;
}

.yith-proteo-testimonial .testimonial-header div:empty {
    display: none;
}

.yith-proteo-testimonial .testimonial-picture {
    grid-area: 1 / 1 / 4 / 3;
    font-size: 0;
}

.yith-proteo-testimonial .testimonial-name {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    font-weight: 600;
}

.yith-proteo-testimonial .testimonial-subtitle {
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
}

.yith-proteo-testimonial .testimonial-rating {
    grid-area: 3 / 2 / 4 / 3;
    align-self: start;
}


.yith-proteo-testimonial .testimonial-picture img {
    border-radius: 100px;
}

.yith-proteo-testimonial .testimonial-content {
    display: block;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 15px;
    order: 2;
}

.yith-proteo-testimonial .testimonial-content .testimonial-review {
    line-height: 1.8;
    overflow: hidden;
    transition: all ease 0.5s;
}

.yith-proteo-testimonial .testimonial-content .testimonial-review.to-expand {
    max-height: 300px;
    padding-bottom: 50px;
}
.yith-proteo-testimonial .testimonial-content .testimonial-read-more {
    margin-top: -50px;
    cursor: pointer;
    text-align: center;
    display: block;
    height: 100px;
    position: relative;
    padding: 40px 0;
}
.yith-proteo-testimonial .testimonial-content .testimonial-read-more:not(.expanded) {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
}

.yith-proteo-testimonial .testimonial-content .testimonial-review.to-expand.expanded {
    max-height: 3000px;
}

.yith-proteo-testimonial .testimonial-content .testimonial-quote {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.yith-proteo-testimonial .testimonial-footer {
    font-size: 1em;
    order: 3;
}

.yith-proteo-testimonial .testimonial-footer .testimonial-website {
    margin-bottom: 30px;
}

.yith-proteo-testimonial .testimonial-footer .widget_yith_proteo_social_icons {
    margin-bottom: 0;
}

.yith-proteo-testimonial .testimonial-footer .widget_yith_proteo_social_icons,
.yith-proteo-testimonial .testimonial-footer .widget_yith_proteo_social_icons a.yith-proteo-social-icon span {
    font-size: 1.1em;
}

.yith-proteo-testimonial .testimonial-footer .widget_yith_proteo_social_icons a.yith-proteo-social-icon svg.tiktok {
    width: 1.3em;
    height: 1.3em;
}

@media (max-width: 992px) {
    .yith-proteo-testimonials.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .yith-proteo-testimonials.grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
