.proteo-testimonials-meta {
    margin-bottom: 35px;
    box-sizing: border-box;
}

.proteo-testimonials-meta * {
    box-sizing: border-box;
}

.proteo-testimonials-meta label {
    display: block;
    margin-bottom: 5px;
    color: #1d2327;
    font-weight: 400;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
}

.proteo-testimonials-meta textarea {
    display: block;
    width: 100%;
    max-width: 640px;

    border: 1px solid #d8d8d8;
    border-radius: 8px;
    padding: 8px 10px;
    box-shadow: none;
    color: #716269;
}
.proteo-testimonials-meta textarea:focus {
    border-color: #a7d9ec;
    box-shadow: none;
}

.proteo-testimonials-meta input, .proteo-testimonials-meta select {
    display: block;
    width: 100%;
    max-width: 640px;

    border: 1px solid #d8d8d8;
    border-radius: 8px;
    padding: 8px 10px;
    height: 38px;
    box-shadow: none;
    color: #716269;
}

.proteo-testimonials-meta input:focus,
.proteo-testimonials-meta select:focus {
    border-color: #a7d9ec;
    box-shadow: none;
}

.proteo-testimonials-meta span.select2.select2-container.select2-container--default {
    border: none;
}

.proteo-testimonials-meta .select2-container .select2-selection--single {
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    height: 38px;
}
.proteo-testimonials-meta .select2-container .select2-selection--single[aria-expanded="true"] {
    border-color: #a7d9ec;
}

.proteo-testimonials-meta .select2-container--default .select2-selection--single .select2-selection__rendered, 
.proteo-testimonials-meta .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    line-height: 38px;
}
